<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @destroy.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @destroy.post_id %>
</p>

<%= link_to 'Edit', edit_destroy_path(@destroy) %> |
<%= link_to 'Back', destroys_path %>
