<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @update.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @update.post_id %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
